@charset "utf-8";

.keypads-tarolo {
    width: 80%;
    /*szelésség/magasság egymáshoz viszonyulása*/
    aspect-ratio: 1/1;
    background: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}

.keypads-gomb {
    position: relative;
    width: 95%;
    height: 95%;
    background-color: burlywood;
    display: grid;
    place-items: center;
}

.keypads {
    display: flex;
    align-items: flex-end;
}

.keypads-gomb-indikator {
    width: 25%;
    height: 10%;
    background-color: black;
    position: absolute;
    top: 10px;
    left: calc(50% - 10%)
}

.szimbolum-kep {
    margin-top: 20px;
    width: 80%;
}