@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Dismay';
    src: url("Digital_Dismay.otf") format("opentype");
}

html {
    background-color: black;
}

main {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

#bomba {
    width: 1300px;
    aspect-ratio: 3/2;
    background-color: black;
    position: relative;
}

#eloresz, #hatresz {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#hatresz, #templates {
    display: none;
}

.modul {
    width: calc(100% - 20px);
    aspect-ratio: 1/1;
    margin: 10px;
    background-color: rgb(138, 144, 156);
    position: relative;
    box-shadow: 0 0 5px 10px #999;
}

.hover-class {
    box-shadow: 0 0 5px 5px inset yellow, 0px 0px 5px 8px yellow
}

.kesz {
    width: 10%;
    aspect-ratio: 1/1;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(97, 65, 65);
    border-radius: 50%;
}
.kesz-vilagos{
    position: absolute;
    content: '';
    width: 30%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: lightgreen;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    filter: blur(3px);
}
.ures {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.ures-pocok {
    position: absolute;
    background-color: rgb(143, 70, 38);
    box-shadow: 0 0 2px 1px black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.ures-tarolo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(148, 73, 39);
}

.ures-csik {
    width: calc(100% / 17);
    height: 100%;
    background-color: rgb(194, 101, 55);
}

.ures-pocok-1 {
    top: -5px;
    left: -5px;
}

.ures-pocok-2 {
    bottom: -5px;
    left: -5px;
}

.ures-pocok-3 {
    bottom: -5px;
    right: -5px;
}

.ures-pocok-4 {
    top: -5px;
    right: -5px;
}

nav {
    position: fixed;
    background-color: rgba(138, 144, 156, 0.1);
    display: grid;
    place-items: center;
    z-index: 20;
}

nav ul li {
    list-style-type: none;
    color: white;
    font-size: 25px;
}

#bomb-rotation-up {
    width: 90%;
    height: 30px;
    top: 0px;
    left: 5%
}

#bomb-rotation-down {
    width: 90%;
    height: 30px;
    bottom: 0px;
    left: 5%
}

#bomb-rotation-left {
    width: 30px;
    height: 90%;
    top: 5%;
    left: 0px;
}

#bomb-rotation-right {
    width: 30px;
    height: 90%;
    top: 5%;
    right: 0;
}

nav:hover {
    background-color: rgba(138, 144, 156, 0.4);
    cursor: pointer;
}

.oldal {
    position: absolute;
    display: none;
    height: 100%;
    width: 30%;
    background-color: rgb(138, 144, 156);
    border-radius: 30px;
    left: calc(50% - 15%);
    grid-template-columns: 1fr 1fr;
}

.oldal-fel-oldal {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

.fel-oldal-also {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.fel-oldal-felso {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}

.oldal-appendix {
    width: 100%;
    height: 80%;
    display: grid;
    place-items: center;
}
.oldal-appendix>*{
    transform-origin: center;
    transform: rotate(90deg);
}

#teteje, #alja {
    position: absolute;
    display: none;
    grid-template-columns: 1fr;
    height: 40%;
    width: 100%;
    background-color: rgb(138, 144, 156);
    border-radius: 30px;
    top: 30%;
}
.fel-oldal{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.fel-oldal-bal,.fel-oldal-kozep,.fel-oldal-jobb{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}