@charset "utf-8";

.simon-says {
    display: grid;
    place-items: center;
}

.simon-says-tarolo {
    width: 65%;
    aspect-ratio: 1/1;
    transform-origin: center;
    transform: rotate(-45deg);
    background: black;
}

.simon-says-gombok {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}

.simon-says-gomb {
    width: 90%;
    height: 90%;
}