@charset "utf-8";

.maze {
    display: flex;
    align-items: flex-end;
}

.maze-tarolo {
    height: 100%;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-areas:
        ". . . . g1 . . . ."
        ". t t t t t t t ."
        ". t t t t t t t ."
        ". t t t t t t t ."
        "g2 t t t t t t t g3"
        ". t t t t t t t ."
        ". t t t t t t t ."
        ". t t t t t t t ."
        ". . . . g4 . . . .";
        place-items: center;
}

.maze-gomb-1 {
    grid-area: g1;
    border-bottom: 23px solid rgb(28, 29, 44);
}

.maze-gomb-2 {
    grid-area: g2;
    border-right: 23px solid rgb(28, 29, 44);
}

.maze-gomb-3 {
    grid-area: g3;
    border-left: 23px solid rgb(28, 29, 44);
}

.maze-gomb-4 {
    grid-area: g4;
    border-top: 23px solid rgb(28, 29, 44);
}

.maze-kulso-tarolo {
    grid-area: t;
    width:100%;
    aspect-ratio: 1/1;
    display:grid;
    place-items: center;
}
.up-down{
    width: 0; 
    height: 0; 
    border-left: 23px solid transparent;
    border-right: 23px solid transparent;
}
.left-right{
    width: 0; 
    height: 0; 
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
}
.maze-kozepso-tarolo{
    width:95%;
    aspect-ratio: 1/1;
    background:rgb(1, 2, 9);
    display:grid;
    place-items: center;
}
.maze-belso-tarolo{
    width:90%;
    aspect-ratio: 1/1;
    background:rgb(5,12,33);
    display:grid;
    grid-template-columns: repeat(6,1fr);
    place-items: center;
}
.maze-szektor{
    position: relative;
    width:15px;
    height:15px;
    background:rgb(24,70,90);
}
.maze-szektor-circle{
    position: relative;
}
.maze-szektor-circle:after{
    content:'';
    position: absolute;
    border:4px solid rgb(97,202,67);
    border-radius: 50%;
    width:25px;
    height:25px;
    top: -9px;
    left:-9px;
}
.maze-szektor-triangle{
    width: 0; 
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 12px solid rgb(255, 0, 0);
    transform-origin: center;
    animation: forog 10s infinite linear;
}
@keyframes forog {
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
.fal-fel, .fal-le {
    width:30px;
    height:4px;
    background:red;
    position:absolute;
    left: calc(50% - 15px);
}
.fal-fel{
    top:-16.3px;
}
.fal-le{
    bottom:-16.3px;
}
.fal-bal, .fal-jobb{
    width:4px;
    height:30px;
    background:red;
    position:absolute;
    top: calc(50% - 15px);
}
.fal-bal{
    left:-16.3px;
}
.fal-jobb{
    right:-16.3px;
}