.bal-sor, .jobb-sor {
    position: absolute;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(56, 61, 83);
    bottom: 5px;
}

.csatlakozo {
    width: 50%;
    aspect-ratio: 1/1;
    background-color: rgb(79, 84, 86);
    border-radius: 6px;
    position: relative;
}

.csatlakozo::after{
    content: '';
    position: absolute;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    background-color: rgb(25,3,31);
}

.bal-sor {
    height: 95%;
    left: 20px;
}

.jobb-sor {
    height: 80%;
    right: 10px;
}

.wires {
    width: 100%;
    height: 100%;
    position: relative;
}

.wire {
    position: absolute;
    left: 48px;
    transform-origin: left;
    height: 10px;
}

.wire-hover {
    box-shadow: 0 0 1px 1px inset yellow, 0px 0px 1px 1px yellow;
    cursor: pointer;
}

.wire-1 {
    width: 331px;
    top: 55.5px;
    transform: rotate(9.38deg);
}

.wire-2 {
    width: 80%;
    top: 116.1px;
    transform: rotate(7.8deg);
}

.wire-3 {
    width: 80%;
    top: 176.5px;
    transform: rotate(6.3deg);
}

.wire-4 {
    width: 80%;
    top: 237.6px;
    transform: rotate(4.6deg);
}

.wire-5 {
    width: 80%;
    top: 298px;
    transform: rotate(3.1deg);
}

.wire-6 {
    width: 80%;
    top: 358.5px;
    transform: rotate(1.5deg);
}

.wire-seged {
    position: relative;
    width: 100%;
    height: 100%;
}

.wire-elvagva {
    position: absolute;
    width: 10%;
    height: 200%;
    background-color: rgb(138, 144, 156);
    top: -25%;
    left: 45%;
}