#bal-sor,#jobb-sor{
    position: absolute;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(52, 56, 76);
    bottom: 5px;
}
.csatlakozo{
    width: 50%;
    aspect-ratio: 1/1;
    background-color: rgb(92, 100, 105);
    border-radius: 6px;
}
#bal-sor{
    height: 95%;
    left: 20px;
}
#jobb-sor{
    height: 80%;
    right: 10px;
}
#wires{
    width: 100%;
    height: 100%;
    position: relative;
}
.wire{
    position: absolute;
    left: 48px;
    transform-origin: left;
    height: 10px;
}
#wire-1{
    width:331px;
    background-color: red;
    top: 36.1px;
    transform: rotate(6.86deg);
}
#wire-2{
    width:80%;
    background-color: rgb(255, 253, 14);
    top: 81.8px;
    transform: rotate(5.82deg);
}
#wire-3{
    width:80%;
    background-color: rgb(5,3,4);
    top: 127.6px;
    transform: rotate(4.7deg);
}
#wire-4{
    width:80%;
    background-color: rgb(255,249,232);
    top: 173.5px;
    transform: rotate(3.5deg);
}
#wire-5{
    width:80%;
    background-color: rgb(55,93,175);
    top: 219.3px;
    transform: rotate(2.25deg);
}
#wire-6{
    width:80%;
    background-color: rgb(246, 10, 7);
    top: 265px;
    transform: rotate(1.2deg);
}